{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<!-- ======= Forgot password Section ======= -->
<div class="container miniforms mt-2 mb-1 col-4">
  <div class="row justify-content-center">
    <section class="contact">
      <div class="container mt-4 mb-4 minidisappear">
        <div class="section-header">
          <h3 class="section-title">Reset password</h3>
        </div>
      </div>
      <div class="gx-4 gx-lg-5 d-flex flex-column justify-content-center align-items-center border border-secondary">
        <div class="form pt-2 pb-2 ">
          {{ form_start(form) }}
          {{ form_widget(form._token)}}
            {{ form_row(form.password) }}
            <div class="text-center">
                <button type="submit" class="buttons">
                    Submit
                </button>
            </div>
          {{ form_end(form, {render_rest: false}) }}
        </div>
      </div>
    </section><!-- End Contact Section -->
  </div>
</div> 
{% endblock %}
{% block footer %}
<!-- ======= Footer ======= -->
<footer id="footer" class="mt-5 fixed-bottom">
  <div class="footer-top">
    <div class="footer-adapt">
        <a href="index.php"><i class="bi bi-house-fill"></i></a>
        <a href=""><i class="bi bi-bookmark-fill"></i></a>
        <a href="forms/contact.php" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bi bi-box-arrow-in-right"></i></a>
    </div>
  </div>
  <div class="container">
      &copy; Copyright 
      {{ "now"|date("Y") }}
  </div>
</footer><!-- End Footer -->    
{% endblock %}
