{{ form_start(form) }}
 <div class="d-flex flex-row justify-content-center">
        <div class="form-group col-7" style="height:100%">
            {{ form_widget(form.content) }} {{ form_errors(form.content) }}
        </div>
        <div>
            <button type="submit" class="custButton btn btn-primary mt-0 mb-0 form-group col-2 d-flex flex-row align-items-center justify-content-center" style="height:100%">{{ button_label|default('Comment'|trans) }}</button>
        </div>
    </div> 
{{ form_end(form) }}
