{% extends 'base.html.twig' %}

{% block title %}Snowtricks{% endblock %}

{% block body %}
    {# <h1>Trick index</h1> #}

  <!-- ======= Header ======= -->
  {# <header id="header" class="fixed-top d-flex align-items-center header-transparent minidisappear">
    <div class="container d-flex justify-content-between align-items-center">
      <div id="logo">
        <h1><a href="/">Snowtricks</a></h1>
      </div>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto " href="/">Tricks</a></li>
          <li><a href="forms/login.php" class="nav-link scrollto" href="#services">Sign in</a></li>
          <li><a href="forms/registration.php" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link">Sign up</a></li>
          <li><a class="nav-link scrollto disco" href="#team"><i class="bi bi-power"></i></a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header --> #}

  <!-- ======= Hero Section ======= -->
  
  <section id="hero">
    <div class="hero-container aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
      {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
      {% endfor %}
      {% for message in app.flashes('notice') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
      {% endfor %}
      <h1>Bienvenue sur Snowtricks</h1>
      <h2>Partageons ensemble notre passion du snowboard!</h2>
      <a href="#portfolio" class="top-to-back d-flex align-items-center justify-content-center"><i class="bi bi-arrow-down-short"></i></a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div>
        <a href="{{ path('app_trick_new') }}" style="color:white">
          <button class="buttons mt-0 mb-4" style="width:70%;height:50px">
            <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="currentColor" class="bi bi-plus-lg img-fluid" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
            </svg>
            Create new
          </button>
        </a>
      </div>
        <div class="container aos-init aos-animate content" data-aos="fade-up">

        {% for trick in tricks %}
            {% if loop.index0 is divisible by(5) or loop.first %}
            <div class="row portfolio-container aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-1 portfolio-item filter-card content">
                    <!-- Div de mise en page -->
                </div>
            {% endif %}
            {% set pic = trick.getPictures().first() %}
                <div class="col-lg-2 portfolio-item filter-card content card">
                {% if pic is defined and pic is not null and pic is not empty%}
                  <img src="{{asset('img/' ~ pic )}}" class="img-fluid" alt="" height="100%">
                {% else %}
                  <img src="{{asset('img/default.png')}}" class="img-fluid" alt="" style="height:100%;">
                {% endif %}
                  <div class="portfolio-info card-body">
                      <h4><a href="{{ path('app_trick_show', {'slug': trick.slug}) }}" class="preview-link">{{ trick.name }}</a></h4>
                      <div>
                          <a href="{{ path('app_trick_edit', {'id': trick.id}) }}" class="preview-link" ><i class="bi bi-pencil"></i></a>
                          {# <button class="details-link" title="More Details" onclick="deleteConfirm({{trick.id}})"><i class="bi bi-trash"></i></button> #}
                          <div class="details-link" title="More Details">
                            {{ include('trick/_delete_form.html.twig') }}
                          </div>
                      </div>
                  </div>
                </div>
            {% if loop.index is divisible by(5) or loop.last %}
                <div class="col-lg-1 portfolio-item filter-card content">
                    <!-- Div de mise en page -->
                </div>
            </div>    
            {% endif %}

        {% endfor %}
        </div>
    </section><!-- End Portfolio Section -->
    <div class="d-flex flex-lg-row justify-content-center sticky-bottom" style="background: #f7f7f7; display=block">
      <div>
        <button id = "loadMore" class="buttons mt-4 mb-2" onclick="display()" style="position:relative"><i class="bi bi-arrow-clockwise"></i> Load More </button>
      </div>
    </div>
</main>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center miniarrows"><i class="bi bi-arrow-up-short"></i></a>
 
<!-- Edit Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog d-flex flex-column align-items-center miniMargPady" >
    <div class="modal-content rounded-0" style="width:1000px">
      <div class="modal-body miniMargPady">
        include
      </div>
    </div>
  </div>
</div>
{% endblock %}