{% extends 'base.html.twig' %}

{% block title %}New Trick{% endblock %}

{% block body %}

{{ form_start(form) }}
{{ form_widget(form._token)}}
<section id="portfolio-details" class="portfolio-details pt-0 mt-5 mb-3">
  <div class="container mt-5">
    <div class="row gy-4">
      <div>
        <div>
          <div>
          {% set headerExists = false %}
          {% if headerExists == false %}
            <div class="modalImgHeader" style="opacity:0.85; background: center/100% 100% no-repeat url('../../img/header_default.jpg')">
                <div class="editDeleteIcons d-flex flex-row-reverse align-items-start">
                </div>
                <div class="gridTrickName d-flex align-items-center justify-content-center">
                    <h2 class="trickName trickName miniName miniRow">{{ form_widget(form.name) }} </h2>
                </div>
                <div class="error_name">
                  {{form_errors(form)}}
                </div>
            </div>
          {% endif %}
        </div>
    </div>
  </div>
  <div class="centered col-lg-12">
    <div class="container mt-4 mb-4 col-lg-12">
      <div class="row portfolio-container">
        <div class="detailsToShow col-lg-4 portfolio-item filter-card card">
          <p class="img-fluid">{{ 'Add one or more media to your trick'|trans }}</p>
        </div>
        <div class="detailsToShow col-lg-4 portfolio-item filter-card card">
          <div class="centered addMedia" style="height:100%">
            <a class="preview-link centered">
              <div id="trick_pictures" data-prototype="{{ include('trick/_picture.html.twig', {form: form.pictures.vars.prototype})|e("html_attr") }}" data-index="{{ form.pictures|length > 0 ? form.pictures|last.vars.name + 1 : 0 }}">
                <button type="button" data-collection="#trick_pictures" class="buttons btn-new">+ {{ 'Add a picture'|trans }}</button>
              </div>
            </a>
          </div>
        </div>
        <div class="detailsToShow col-lg-4 portfolio-item filter-card card">
          <div class="centered addMedia" style="height:100%">
            <a class="preview-link centered">
              <div id="trick_videos" data-prototype="{{ include('trick/_video.html.twig', {form: form.videos.vars.prototype})|e("html_attr") }}" data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}">
                <button type="button" data-collection="#trick_videos" class="buttons btn-new">+ {{ 'Add a video'|trans }}</button>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End Portfolio Details Section -->
<section class="about miniReduce miniBody mt-5">
  <div class="d-flex bigRowMiniCol justify-content-center miniModalCrunch miniBody">
      <p><span class="badge bg-secondary mx-2 miniCrush">{{ form_widget(form.category) }}</span></p>
      <p><span class="badge bg-menthe mx-2 miniCrush">{{ 'Created at'|trans }} : {{ trick.creationDate|date('Y-m-d H:i:s') }}</span></p>
      <p><span class="badge bg-secondary mx-2 miniCrush">{{ 'Updated'|trans }} : {{ trick.updateDate ? trick.updateDate|date('Y-m-d H:i:s') : 'non modifié' }}</span></p>
      <p><span class="badge bg-menthe mx-2 miniCrush">{{ 'By'|trans }} : {{ trick.user }}</span></p>
  </div>
</section>
<section class="comment justify-content-center miniModalForm mr-5">
    <div class="container col-9 ">
        <div class="row justify-content-center mt-5 mb-5">
            <div class="form col-9">
                <div class="d-flex flex-column justify-content-center w-100">
                    <div class="w-100 mb-2">
                        <div class="input-group centered miniTextarea">
                            {{ form_row(form.description) }}
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer border-0 miniModalFooter">
        <button type="submit" class="btn bg-menthe">{{ button_label|default('Save') }}</button>
    </div>
</section> 
{{ form_end(form, {render_rest: false}) }}

<script>
    const newItem = (e) => {
    const collectionHolder = document.querySelector(e.currentTarget.dataset.collection);

    const item = document.createElement("div");
    item.innerHTML = collectionHolder
        .dataset
        .prototype
        .replace(
            /__name__/g,
            collectionHolder.dataset.index
        );

    item.querySelector(".btn-remove").addEventListener("click", () => item.remove());

    collectionHolder.appendChild(item);

    collectionHolder.dataset.index++;

    };

    document.querySelectorAll('.btn-remove').forEach(btn => btn.addEventListener("click", (e) => e.currentTarget.closest(".input-media").remove()));

    document.querySelectorAll('.btn-new').forEach(btn => btn.addEventListener('click', newItem));
</script>
{% endblock %}

