{% extends 'base.html.twig' %}
    {% block body %}
        <section id="portfolio-details" class="portfolio-details pt-0 mt-5 mb-0">
            <div class="container mt-5">
                <div class="row gy-4">
                    <div>
                        <div>  
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% set headerpic = [] %}
                        {% for picture in trick.pictures %}
                            {% if picture.header == true %}
                                {% set headerpic = headerpic|merge([picture]) %}
                            {% endif %}
                        {% endfor %}
                        {% if headerpic[0] is defined and headerpic[0] is not null %}
                            {% set header = headerpic[0].path %}
                        {% else %}
                            {% set header = 'default.png' %}
                        {% endif %}
                            <div class="modalImgHeader" style="opacity:0.85; background: center/100% 100% no-repeat url('../img/{{header}}')">
                                <div class="editDeleteIcons d-flex flex-row-reverse align-items-start">
                                    <div class="editDelete d-flex flex-row justify-content-around align-items-center px-2 py-3" style="opacity:1">
                                        <div class="details-link" title="Edit">
                                            <a href="{{ path('app_trick_edit', {'id': trick.id}) }}" data-gallery="portfolioGallery" title="Edit" style="margin-left:10px"><i class="bi bi-pencil"></i></a>
                                        </div>
                                        <div class="details-link p-0 m-0" title="Delete">
                                            {{ include('trick/_delete_form.html.twig') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="gridTrickName d-flex align-items-center justify-content-center">
                                    <h2 class="trickName">{{ trick.name }} </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-lg-row justify-content-center sticky-bottom bigdisappear" style="display=block">
                <div>
                    <button id ="loadMoreMedias" class="buttons mt-4 mb-2" onclick="displayMiniMedias()" style="position:relative">
                        <i class="bi bi-arrow-clockwise"></i> {{ 'See medias'|trans }}
                    </button>
                </div>
            </div>
            <div class="container mt-4 mb-4 miniHideMedias">
                <div class="row portfolio-container">
                    <div class="col-lg-1 portfolio-item filter-card d-flex flex-row align-items-center justify-content-center arrowLeft">
                        <i class="bi bi-caret-left xarrows arrowLeft" onclick="displayMediasLeft()"></i>
                        <!-- Div de mise en page -->
                    </div>
                    {% set medias = [] %}
                    {% for picture in trick.getPictures() %}
                        {% set medias = medias|merge([picture]) %}
                    {% endfor %}
                    {% for video in trick.videos %}
                        {% set medias = medias|merge([video]) %}
                    {% endfor %}
                    
                    {% for media in medias %}
                        <div class="detailsToShow col-lg-2 portfolio-item filter-card card mediasTotal mediaCarroussel">
                            {% if media is instanceof('App\\Entity\\Picture') %}
                            <img src="{{ asset('img/' ~ media.path ) }}" class="img-fluid" alt="">
                            {% endif %}
                            {% if media is instanceof('App\\Entity\\Video') %}
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ media.videoId }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                            </iframe>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="detailsToShow col-lg-2 portfolio-item filter-card card">
                            <p class="img-fluid">{{ 'Add one or more media to your trick'|trans }}</p>
                        </div>
                    {% endfor %}
                        <div class="col-lg-1 portfolio-item filter-card d-flex flex-row align-items-center justify-content-center arrowRight">
                            <i class="bi bi-caret-right xarrows arrowRight" onclick="displayMediasRight()"></i>
                        <!-- Div de mise en page -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="comment justify-content-center miniModalForm mr-5">
            <div class="container col-9 ">
                <div class="row justify-content-center mt-5 mb-5">
                    <div class="form col-9">
                        <div class="d-flex flex-column justify-content-center w-100">
                            <div class="w-100 mb-2">
                                <div class="input-group centered miniTextarea">
                                    {{ trick.description }}
                                </div>
                            </div>            
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0 miniModalFooter">
                <button type="submit" class="btn btn-secondary" formaction="{{ path('app_trick_delete', {'id': trick.id}) }}" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">Delete</button>
                <button type="submit" class="btn bg-menthe">{{ button_label|default('Save') }}</button>
            </div>
        </section>
            
            
        <!-- End Portfolio Details Section -->
        <section class="about miniReduce miniBody mt-5">
            <div class="d-flex bigRowMiniCol justify-content-center miniModalCrunch miniBody">
                <p><span class="badge bg-secondary mx-2 miniCrush">{{ trick.category }} </span></p>
                <p><span class="badge bg-menthe mx-2 miniCrush">{{ 'Created at'|trans }} : {{ trick.creationDate|date('Y-m-d H:i:s') }}</span></p>
                <p><span class="badge bg-secondary mx-2 miniCrush">{{ 'Updated'|trans }} : {{ trick.updateDate ? trick.updateDate|date('Y-m-d H:i:s') : 'non modifié' }}</span></p>
                <p><span class="badge bg-menthe mx-2 miniCrush">{{ 'By'|trans }} : {{ trick.user }}</span></p>
            </div>
        </section>
        <section class="comment justify-content-center minidisappear">
            <div class="container col-9 border-top border-bottom border-secondary">
                <div class="row justify-content-center mt-5 mb-5">
                <div class="form col-9">
                    {{ include('message/_form.html.twig') }}
                </div>
                </div>
            </div>
        </section>
        <section id="about" class="pb-0 mb-0">
            <div class="container">
                <div class="about-container d-flex justify-content-center miniModalCrunch">
                    <div class="col-lg-9">
                        {% for message in trick.messages %}
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-briefcase"></i></div>
                            <h4 class="title"><a href="">{{ message.author }}</a></h4>
                            <p class="description">{{ message.content }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

