{# {% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    {# <a href="{{ path('app_user_index') }}">back to list</a> #}

    {# {{ include('user/_delete_form.html.twig') }}
{% endblock %} #}

{# /////////////// #}

{% extends 'base.html.twig' %}

{% block title %}Edit Account{% endblock %}

{% block body %}
<!-- ======= About Section ======= -->
    {{ form_start(form) }}
    {{ form_widget(form._token)}}
    <section id="about" class="my-5">
        <div class="container">
            <div class="row about-container">
                <div class="col-lg-6 content order-lg-1 order-2">
                    <div class="icon-box">
                    <div class="icon"><i class="bi bi-briefcase"></i></div>
                    <h4 class="title"><a href="">Email</a></h4>
                    <p class="description">{{ form_widget(form.email) }}</p>
                    </div>

                    <div class="icon-box">
                    <div class="icon"><i class="bi bi-card-checklist"></i></div>
                    <h4 class="title"><a href="">Name:</a></h4>
                    <p class="description">{{ form_widget(form.name) }}</p>
                    </div>

                    <div class="icon-box">
                    <div class="icon"><i class="bi bi-binoculars"></i></div>
                    <h4 class="title"><a href="">First name:</a></h4>
                    <p class="description">{{ form_widget(form.firstname) }}</p>
                    </div>
                </div>
                <div class="col-lg-6 content order-lg-1 order-2">
                    <div class="icon-box">
                    {% if user.avatar is defined and user.avatar is not empty %}
                    <img src="{{asset('img/' ~ user.avatar )}}" height="100px">
                    {% else %}
                    <img src="{{asset('img/default.png')}}" height="100px">
                    {% endif %}
                    </div>
                    <div class="icon-box">
                        <div>
                            <div class="input-media">
                                {{ form_widget(form.file) }}
                            </div>
                        </div>
                    </div>
                    <div class="icon-box">
                    <div class="icon"><i class="bi bi-card-checklist"></i></div>
                    <h4 class="title"><a href="">Registration date:</a></h4>
                    {% set registrationDate = user.registrationDate %}
                    <p class="description">{{ registrationDate ? registrationDate|date('Y-m-d H:i:s') : '' }}</p>
                    </div>
                    <div class="icon-box">
                    <div class="icon"><i class="bi bi-binoculars"></i></div>
                    <h4 class="title"><a href="">Password :</a></h4>
                    <p class="description">{{form_widget(form.password)}}</p>
                    {# <p class="description">{{ user.password }}</p> #}
                    </div>
                </div>
                {# <div class="col-lg-6 background order-lg-2 order-1">
                </div> #}
            </div>
        </div>
    </section><!-- End About Section -->

    <div class="modal-footer border-0 miniModalFooter mb-5 mx-5">
        {{ include('user/_delete_form.html.twig') }}
        <button type="submit" class="btn bg-menthe mx-3" style="color:white">{{ button_label|default('Update') }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}